.c-bio{
  display: flex;
  position: relative;
  flex-direction: column;
  max-width: 250px;
  text-transform: uppercase;
  color: rgba(0,240,255, 0.4);
  text-shadow: 0px 0px 2px var(--aqua);
  padding: 20px;
  border: 1px solid var(--aqua-light);
  /* flex: 0.8 0.8 150px; */
}

.c-bio__text{
  font-size: 12px;
}

.c-bio__text--large{
  font-size: 1.1rem;
  margin-bottom: 10px;
}

.c-bio__corner{
  bottom: -10px;
  right: -10px;
  position: absolute;
  width: 20px;
  height: 20px;
  transform: rotate(135deg);
  background-color: var(--dark-blue);
  border-bottom: 1px solid var(--aqua-light);
}

/* portrait phone */
@media only screen and (max-width: 480px) {
  /* .c-bio{

    flex-direction: row;
    flex-wrap: wrap;

  } */
}

/* phone landscape */
@media only screen and (min-width: 481px) and (max-width: 620px){
  .c-bio{

    flex-direction: row;
    flex-wrap: wrap;

  }
}

/* tablet portrait */
@media only screen and (min-width: 621px) and (max-width: 768px) {

  
}

/* tablet landscape */

@media only screen and (min-width: 769px) and (max-width: 1100px) {

}
