.c-bio{
  display: flex;
  flex-direction: column;
  width: 150px;
  text-transform: uppercase;
  color: rgba(0,240,255, 0.4);
  text-shadow: 0px 0px 2px var(--aqua);
  margin: 20px;
}

.c-bio__text{
  font-size: 12px;
}

.c-bio__text--large{
  font-size: 1.1rem;
  margin-bottom: 10px;
}

/* portrait phone */
@media only screen and (max-width: 480px) {

}

/* phone landscape */
@media only screen and (min-width: 481px) and (max-width: 620px){

}

/* tablet portrait */
@media only screen and (min-width: 621px) and (max-width: 768px) {

  
}

/* tablet landscape */

@media only screen and (min-width: 769px) and (max-width: 1100px) {

}
