.c-button{
  border: 1px solid var(--yellow);
  padding: var(--spaceXS);
  color: var(--yellow);
  display: flex;
  justify-content: center;
  cursor: pointer;
  position: relative;
  text-decoration: none;
}

.c-button:after{
  content: '';
  width: 20px;
  height: 20px;
  position: absolute;
  border-top: 1px solid var(--yellow);
  bottom: -10px;
  left: -10px;
  background-color: var(--dark-blue);
  transform: rotate(45deg);
}

.c-button:before{
  content: '';
  width: 20px;
  height: 20px;
  position: absolute;
  border-bottom: 1px solid var(--yellow);
  top: -10px;
  right: -10px;
  background-color: var(--dark-blue);
  transform: rotate(45deg);
}