.c-cv-grid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-areas: 
    "firstname firstname lastname lastname"
    "address address phone email"
    "experience1 experience1 experience1 experience1"
    "experience2 experience2 experience2 experience2"
    "experience3 experience3 experience3 experience3"
    "experience4 experience4 experience4 experience4"
    "education education education education"
    "skills skills skills skills";
  font-size: 1rem;
  margin-bottom: var(--spaceXL);
}

.c-cv-griditem{
  border: 1px solid rgba(255,255,255,0.5);
  padding: 20px;
  position: relative;
  color: var(--aqua);
  line-height: 1.5;
}

.c-cv-griditem ul{
  padding-left: 20px;
}

.c-cv-grid__firstname{
  grid-area: firstname;
}

.c-cv-grid__firstname::before{
  content: 'firstname';
  top: 3px;
  left: 3px;
  position: absolute;;
  font-size: 11px;
  width: 200px;
  text-transform: uppercase;
  color: rgba(255,255,255,0.8);
}

.c-cv-grid__lastname{
  grid-area: lastname;
}

.c-cv-grid__lastname::before{
  content: 'lastname';
  top: 3px;
  left: 3px;
  position: absolute;;
  font-size: 11px;
  width: 200px;
  text-transform: uppercase;
  color: rgba(255,255,255,0.8);
}

.c-cv-grid__address{
  grid-area: address;
}

.c-cv-grid__address::before{
  content: 'address';
  top: 3px;
  left: 3px;
  position: absolute;;
  font-size: 11px;
  width: 200px;
  text-transform: uppercase;
  color: rgba(255,255,255,0.8);
}

.c-cv-grid__phone{
  grid-area: phone;
}

.c-cv-grid__phone::before{
  content: 'phone';
  top: 3px;
  left: 3px;
  position: absolute;;
  font-size: 11px;
  width: 200px;
  text-transform: uppercase;
  color: rgba(255,255,255,0.8);
}

.c-cv-grid__email{
  grid-area: email;
}

.c-cv-grid__email::before{
  content: 'email';
  top: 3px;
  left: 3px;
  position: absolute;;
  font-size: 11px;
  width: 200px;
  text-transform: uppercase;
  color: rgba(255,255,255,0.8);
}

.c-cv-experience__1{
  grid-area: experience1;
}

.c-cv-experience__2{
  grid-area: experience2;
}

.c-cv-experience__3{
  grid-area: experience3;
}

.c-cv-experience__4{
  grid-area: experience4;
}

.c-cv-experience__date{
  position: absolute;
  font-size: 11px;
  text-transform: uppercase;
  color: rgba(255,255,255,0.8);
  top: 3px;
  right: 3px;
  text-align: right;
}

.c-cv-experience::before{
  content: 'experience';
  top: 3px;
  left: 3px;
  position: absolute;;
  font-size: 11px;
  width: 200px;
  text-transform: uppercase;
  color: rgba(255,255,255,0.8);
}

.c-cv-education{
  grid-area: education;
}

.c-cv-education::before{
  content: 'education';
  top: 3px;
  left: 3px;
  position: absolute;;
  font-size: 11px;
  width: 200px;
  text-transform: uppercase;
  color: rgba(255,255,255,0.8);
}

.c-cv-skills{
  grid-area: skills;
  display: flex;
  flex-wrap: wrap;
}

.c-cv-skills ul{
  flex: 1;
}

.c-cv-skills::before{
  content: 'skills';
  top: 3px;
  left: 3px;
  position: absolute;;
  font-size: 11px;
  width: 200px;
  text-transform: uppercase;
  color: rgba(255,255,255,0.8);
}

/* portrait phone */
@media only screen and (max-width: 480px) {
  .c-cv-grid{
    grid-template-columns: 1fr;
    grid-template-areas: 
      "firstname"
      "lastname"
      "address"
      "phone"
      "email"
      "work"
      "experience1"
      "experience2"
      "experience3"
      "experience4"
      "education"
      "skills";
  }

}

/* phone landscape */
@media only screen and (min-width: 481px) and (max-width: 620px){
  .c-cv-grid{
    grid-template-columns: 1fr;
    grid-template-areas: 
      "firstname"
      "lastname"
      "address"
      "phone"
      "email"
      "work"
      "experience1"
      "experience2"
      "experience3"
      "experience4"
      "education"
      "skills";
  }
}

/* tablet portrait */
@media only screen and (min-width: 621px) and (max-width: 768px) {
  .c-cv-grid{
    grid-template-columns: repeat(2 1fr);
    grid-template-areas: 
      "firstname lastname"
      "address phone"
      "address email"
      "work work"
      "experience1 experience1"
      "experience2 experience2"
      "experience3 experience3"
      "experience4 experience4"
      "education education"
      "skills skills";
  }
  
}

/* tablet landscape */

@media only screen and (min-width: 769px) and (max-width: 1100px) {
  .c-cv-grid{
    grid-template-columns: repeat(2 1fr);
    grid-template-areas: 
      "firstname lastname"
      "address phone"
      "address email"
      "work work"
      "experience1 experience1"
      "experience2 experience2"
      "experience3 experience3"
      "experience4 experience4"
      "education education"
      "skills skills";
  }
}
