.l-footer{
  width: 80%;
  border-top: 1px solid var(--aqua-light);
  padding: var(--spaceXS) 0;
  display: flex;
  justify-content: center;
  background-color: var(--yellow);
  border-right: 5px solid var(--aqua);
  color: rgba(0,0,0,0.8);
  font-weight: bold;
  position: relative;
}
.l-footer a{
  color: rgba(0,0,0,1);
}

.l-footer__corner{
  top: -20px;
  left: -20px;
  position: absolute;
  width: 40px;
  height: 40px;
  transform: rotate(135deg);
  background-color: var(--dark-blue);
  border-top: 2px solid var(--aqua);
}

.l-footer__item{
  max-width: 90%;
  text-align: center;
  margin-top: 10px;
}


/* portrait phone */
@media only screen and (max-width: 480px) {

  .l-footer{
    width: 100%;
    flex-wrap: wrap;
  }


}

/* phone landscape */
@media only screen and (min-width: 481px) and (max-width: 620px){



}