.l-header{
  margin-top: -1.8rem;
}

.l-header__heading{
  font-family: 'Cousine', monospace;
  font-size: 3rem;
  color: white;
  line-height: 1.5;
}

.l-header__blurb {
  font-size: 1.2rem;
  color: rgba(255,255,255,0.7);
  max-width: 600px;
  line-height: 1.35;
}

.l-header__grid-item{
  display: flex;
  flex-direction: column;
  flex: 1 1 530px;
  justify-content: center;
  margin-top: var(--spaceXL);
}

.l-header__profile{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* portrait phone */
@media only screen and (max-width: 480px) {


  .l-header__heading{
    font-size: 1.8rem;
  }

  .l-header__blurb {
    font-size: 1rem;
  }

  .l-header__profile{
    /* flex-direction: column; */
    margin-left: 0;
    flex-wrap: wrap;
  }
}

/* phone landscape */
@media only screen and (min-width: 481px) and (max-width: 620px){


  .l-header__heading{
    font-size: 1.8rem;
  }

  .l-header__blurb {
    font-size: 1rem;
  }

  .l-header__profile{
    margin-left: 0;
    flex-wrap: wrap;

  }

}

/* tablet portrait */
@media only screen and (min-width: 621px) and (max-width: 768px) {


  .l-header__heading{
    font-size: 2.5rem;
  }

  .l-header__blurb {
    font-size: 1rem;
  }

  .l-header__profile{
    margin-left: 0;
    flex-wrap: wrap;
  }
  
}

/* tablet landscape */

@media only screen and (min-width: 769px) and (max-width: 1100px) {


  .l-header__heading{
    font-size: 2.5rem;
  }

  .l-header__blurb {
    font-size: 1rem;
  }

  .l-header__profile{
    margin-left: 0;
    flex-wrap: wrap;
  }

}
