.c-logo{
  font-size: 1.4rem;
  color: var(--aqua);
  display: inline-block;
  margin-top: var(--spaceXL);
}

.c-logo__caret{
  animation: 1s blink step-end infinite;
}

/* portrait phone */
@media only screen and (max-width: 480px) {
  .c-logo{

    margin-top: var(--space);
  }

}

/* phone landscape */
@media only screen and (min-width: 481px) and (max-width: 620px){
  .c-logo{

    margin-top: var(--space);
  }
}

/* tablet portrait */
@media only screen and (min-width: 621px) and (max-width: 768px) {

  
}

/* tablet landscape */

@media only screen and (min-width: 769px) and (max-width: 1100px) {

}


/* Keyframes */

@keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
  color: var(--aqua);
  }
}