:root {
  --spaceXS: 1.2rem;
  --space: 1.8rem;
  --spaceXL: calc(var(--space)*2);
  --notchSize: 15px;
  --bigNotch: 50px;

  /* colors */
  --dark-blue: #071e26;
  --aqua: #00f0ff;
  --yellow: #fcee0a;
  --aqua-light: rgba(0,240,255, 0.3);
  --dark-blue-trans: rgba(7,30,38, 0.9);
}

* , *:before, *:after{ 
  box-sizing:border-box; 
  -moz-box-sizing:border-box; 
  -webkit-box-sizing:border-box; 
  -ms-box-sizing:border-box;
}

body{
  background: var(--dark-blue);
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.2rem;
  color: white;
}

h1, h2 {
  color: white;
  margin: 0;
}

h3{
  font-weight: 400;
  font-size: 1.3rem;
  color: var(--aqua);
  margin: 0;

}

img{
  max-width: 100%;
  height: auto;
}

.l-container {
  padding: var(--spaceXL);
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

.h-nolink{
  text-decoration: none;
}

.l-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.l-grid__grid-item {
  flex: 1 1 160px;
}

.l-section{
  max-width: 1300px;
  padding: 0 var(--space);
  margin: 0 auto;
  margin-top: var(--space);
}

ul{
  margin-bottom: 0;
}


.list{
  list-style: none;
}

.list__item{
  margin-top: 5px;
}

.list__item:before{
    content: '~';
    margin-left: -20px;
    margin-right: 10px;
    color: var(--aqua);
}

.l-skills h3{

  margin-top: var(--space);
  
}

/* portrait phone */
@media only screen and (max-width: 480px) {

  .l-section {
    padding: 0 var(--spaceXS);
    margin-top: var(--space);
  }

}

/* phone landscape */
@media only screen and (min-width: 481px) and (max-width: 620px){

  .l-section {
    padding: 0 var(--space);
    margin-top: var(--space);
  }

}

/* tablet portrait */
@media only screen and (min-width: 621px) and (max-width: 768px) {

  .l-section{
    padding: 0 var(--spaceXL);
  }
}

/* tablet landscape */

@media only screen and (min-width: 769px) and (max-width: 1100px) {

  .l-section{
    padding: 0 var(--spaceXL);
  }
}
