.l-work{
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(2, minmax(190px, 190px));
  grid-gap: var(--space);
  padding: 0;
}

.l-work li:first-child{
  grid-column: 1;
  grid-row: 1/span 2;
}
.l-work li:first-child img{
  left: -100%;
}
.l-work li{
  position: relative;
  overflow: hidden;
}

.l-work li img{
  position: relative;
  width: auto;
  max-width: none;
  max-height: 100%;
}

.c-work{
  position: absolute;
  top: 0;
  background-color: var(--dark-blue-trans);
  width: 100%;
  height: 100%;
  padding: 20px;
}

.c-work h3{
  font-family: 'Cousine', monospace;
  font-size: 2rem;
  color: white;
}
