.l-skills{
  /* margin-top: -1.8rem; */
  justify-content: space-around;;
}

.c-skill{
  position: relative;
  border: 1px solid var(--aqua-light);
  padding: var(--spaceXS);
  padding-top: 0;
  max-width: 230px;
  min-width: 220px;
  font-size: 1rem;
  margin-top: var(--space);
}

.c-skill__corner{
  bottom: -10px;
  right: -10px;
  position: absolute;
  width: 20px;
  height: 20px;
  transform: rotate(135deg);
  background-color: var(--dark-blue);
  border-bottom: 1px solid var(--aqua-light);
}

/* portrait phone */
@media only screen and (max-width: 480px) {

  .c-skill{
    max-width: 250px;
  }
  
}

/* phone landscape */
@media only screen and (min-width: 481px) and (max-width: 620px){

  .c-skill{
    max-width: 250px;
  }

}

/* tablet portrait */
@media only screen and (min-width: 621px) and (max-width: 768px) {

  
}

/* tablet landscape */

@media only screen and (min-width: 769px) and (max-width: 1100px) {

}
