.c-work{
  margin-top: var(--space);
  justify-content: space-around;
}

.c-work__item{
  position: relative;
  width: 410px;
  padding: var(--space);
}

.c-work__title{
  display: inline-block;
  position: absolute;
  right: -10px;
  top: 200px;
  background-color: var(--dark-blue-trans);
  padding: var(--space);
  border: 1px solid var(--aqua-light);
  color: var(--aqua);
}

.c-work__corner{
  bottom: -10px;
  right: -10px;
  position: absolute;
  width: 20px;
  height: 20px;
  transform: rotate(135deg);
  background-color: var(--dark-blue);
  border-bottom: 1px solid var(--aqua-light);
}

.c-work__description{
  color: rgba(255,255,255,0.9);
  line-height: 1.4;
  font-size: 1rem;
}

.c-work__image{
  width: 350px;
}

/* portrait phone */
@media only screen and (max-width: 480px) {

  .c-work__item{
    padding: var(--spaceXS);
  }

  .c-work__image{
    min-width: 250px;
  }

  .c-work__title{

    padding: var(--spaceXS);
    right: 0px;
    top: 140px;
  }

}

/* phone landscape */
@media only screen and (min-width: 481px) and (max-width: 620px){


}

/* tablet portrait */
@media only screen and (min-width: 621px) and (max-width: 768px) {

}

/* tablet landscape */

@media only screen and (min-width: 769px) and (max-width: 1100px) {

}
